#site-header {
  display: flex;
  padding-inline: var(--page-padding);
  justify-content: space-between;
  height: var(--header-width);
  align-items: center;
  border: 2px solid rgba(239, 238, 224, 0.5333333333);
  position: sticky;
  z-index: 9;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 0;
}
#site-header > * {
  flex-shrink: 0;
}
#site-header .icon {
  display: inline-flex;
  align-items: flex-end;
  gap: 0.5rem;
}
#site-header .icon > img {
  width: 3rem;
  aspect-ratio: 1/1;
}
#site-header .icon > span {
  line-height: normal;
  font-size: 2rem;
}
#site-header .icon > span > span:nth-child(1) {
  color: var(--clr-secondary);
}
#site-header > .user {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
#site-header > .user > span {
  width: 2rem;
}
#site-header > .user > button.logout {
  gap: 0;
}
#site-header > .user > button.logout > span {
  height: 2rem;
}

@media screen and (max-width: 500px) {
  #site-header {
    border: none;
    padding-block: 1rem;
    flex-direction: column;
  }
  #site-header .icon > img {
    width: 2rem;
  }
  #site-header .icon > span {
    font-size: 1.5rem;
  }
  #site-header > .user {
    width: 100%;
    gap: 1rem;
  }
  #site-header > .user > span {
    width: 2rem;
  }
  #site-header > .user > button.logout {
    margin-left: auto;
    padding-block: 0;
    gap: 0;
  }
  #site-header > .user > button.logout > span {
    height: 2rem;
  }
}
@media screen and (max-width: 325px) {
  #site-header > .user {
    gap: 0.5rem;
  }
  #site-header > .user > button.logout {
    padding-inline: 0.5rem;
    gap: 0;
  }
}