span.svg-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
span.svg-wrapper > svg {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

#intro_slide .swiper-pagination {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  counter-reset: page;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  margin: 1rem;
  gap: 0.62rem;
  font-size: 1rem;
}
#intro_slide .swiper-pagination > span {
  display: flex;
  align-items: center;
  gap: rem;
  padding-left: 1rem;
  color: var(--gray-400);
  font-weight: 700;
  transition-property: color, font-size, order;
  transition-duration: 500ms;
  cursor: pointer;
}
#intro_slide .swiper-pagination > span:hover {
  color: white;
}
#intro_slide .swiper-pagination > span.swiper-pagination-bullet-active {
  font-size: 1.25rem;
  color: white;
}
#intro_slide .swiper-pagination > span.swiper-pagination-bullet-active::before {
  opacity: 1;
  width: 1.25rem;
}
#intro_slide .swiper-pagination > span::after {
  counter-increment: page;
  content: counter(page);
}
#intro_slide .swiper-pagination > span::before {
  transition: width 500ms;
  border-radius: 999px;
  left: 0;
  transform: translateX(-100%);
  position: absolute;
  content: "";
  width: 0rem;
  height: 0.1875rem;
  display: block;
  background-color: white;
  opacity: 0;
}